.education-details {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.education-details-header {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.form-content {
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    max-height: 600px;
}

.collapsed {
    max-height: 0;
}

.arrow-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.4s ease-in-out;
}

.rotate {
    transform: rotate(180deg);
}