.education{
    padding-left: 7mm;
    padding-right: 7mm;
}

.education > h3:first-child{
    color: var(--primary-color);
    border-bottom: 1px solid;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.education > h3:nth-child(3){
    font-size: 16px;
}

.education-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.school-name{
    color: var(--primary-color);
    margin: 0;
}