.form-group {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    width: 300px;
}

.form-group-header {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.arrow-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.4s ease-in-out;
}

.rotate {
    transform: rotate(180deg);
}

.form-content {
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    max-height: 0; /* Start collapsed Education and Work Experience 2 & 3*/
    overflow: hidden;
}

.expanded {
    max-height: 1000px;
}

.collapsed {
    max-height: 0;
}
