.resume-name{
    text-align: center;
}

.personal-info{
    background-color: rgb(12, 56, 96);;
    color: white;
    padding: 1rem;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-info > div{
    display: flex;
    gap: 6px;
}